.image-container {
  position: relative;
  overflow: hidden;
}

.image-container img {
  transition: 0.3s; /* Duración de la transición */
}

.image-container:hover img {
  filter: brightness(65%); /* Aplicar un efecto de atenuación (oscurecimiento) */
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: #fff;
  font-size: 24px;
  font-weight: bold;
  opacity: 0; /* Inicialmente invisible */
  transition: 0.3s; /* Duración de la transición */
}
.product-image {
  position: relative;
  overflow: hidden;
}

.product-image img {
  max-width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro con opacidad */
  opacity: 0; /* Inicialmente oculto */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-in-out;
}

.product-card:hover .overlay {
  opacity: 1; /* Mostrar el overlay al pasar el mouse */
}

.product-card:hover img {
  transform: scale(1.1); /* Zoom de la imagen al pasar el mouse */
}

.overlay p {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.image-container:hover .overlay-text {
  opacity: 1; /* Hacer visible al pasar el mouse */
}

.product-card:hover {
  background-color: #f0f0f0; /* Cambia el fondo al pasar el mouse */
  border: 1px solid #ccc;    /* Cambia el borde al pasar el mouse */
  transition: background-color 0.3s, border 0.3s; /* Agrega una transición suave */
  cursor: pointer;
}
